<?php
$attrCollection = $block->getCustomersAttribute();
?>

<fieldset class="fieldset create account">


        <legend class="legend"><span><?php /* @escapeNotVerified */ echo __('Additional Information') ?></span></legend><br></p>
 
<?php
foreach ($attrCollection as $custAttribute) {
?>

<p>        <div class="field <?php echo $custAttribute['attribute_code']; ?>">
            <label for="<?php echo $custAttribute['attribute_label']; ?>" class="label"><span><?php /* @escapeNotVerified */ echo __($custAttribute['attribute_label']) ?></span></label>
            
            <?php
            if (strtolower($custAttribute['attribute_type']) == "text") {
            ?>

            <div class="control">
                <input type="text" name="<?php echo $custAttribute['attribute_code']; ?>" id="<?php echo $custAttribute['attribute_code']; ?>" title="<?php /* @escapeNotVerified */ echo __(ucfirst($custAttribute['attribute_label'])) ?>" class="input-<?php echo strtolower($custAttribute['attribute_type']); ?>" autocomplete="off">
            </div>

            <?php
            } else {
            ?>
            <select name="<?php echo $custAttribute['attribute_code']; ?>" id="<?php echo $custAttribute['attribute_code']; ?>">
            <option value="yes">Yes</option>
            <option value="no">No</option>
            </select>
            <?php
            }
            ?>
        </div>
<?php
}
?>
        </div>


</fieldset>